/*=============== SCROLL UP ===============*/
.scrollup{
    position: fixed;
    right: 1rem;
    bottom: -30%;
    background-color: #181926;
    box-shadow: 0 4px 12px hsla(0, 0%, 20%, .1);
    display: inline-flex;
    padding: .35rem;
    border-radius: .25rem;
    z-index: var(--z-tooltip);
    opacity: .8;
    transition: .4s;

    &:hover{
        opacity: 1;
    }

    &__icon{
        font-size: 1.25rem;
        color: #fff;
    }
}

/* Show Scroll Up*/
.show-scroll{
    bottom: 3rem;
}

/*=============== SCROLL BAR ===============*/
::-webkit-scrollbar{
    width: .5rem;
    background: #d0d1d5;
    border-radius: 1rem;

    &-thumb{
        background: #181926;
        border-radius: 1rem;
        opacity: 0;
    }
}