/*=============== THEME ===============*/
.nav__btns{
    display: flex;
    align-items: center;
    column-gap: 1rem;
}

.change-theme{
    color: var(--title-color);
    font-size: 1.25rem;
    cursor: pointer;
}

/*========== Variables Dark theme ==========*/
body.dark-theme{
    --title-color: hsl(0, 0%, 100%);
    --text-color: hsl(0, 0%, 80%);
    --body-color: #181926;
    --container-color: rgba(9, 14, 28, 0.78);
}

/*========== 
    Color changes in some parts of 
    the website, in dark theme 
==========*/

.dark-theme .scroll-header,
.dark-theme .nav__menu{
    box-shadow: 0 2px 4px hsla(0, 0%, 4%, .3);
}
.dark-theme .accordion__description a,
.dark-theme .footer__description a {
    color: white !important;
}
.dark-theme .scrollup{
    background-color: #fff;
    &__icon{
        color: #181926;
    }
}
.dark-theme .new__overlay{
    background-color: transparent;
}

.dark-theme 
.accordion__item:nth-child(1),
.dark-theme .accordion__item:nth-child(2),
.dark-theme .accordion__item:nth-child(3),
.dark-theme .accordion__item:nth-child(4) {
    background-color: var(--container-color);
}
.dark-theme .footer{
    background-color: #141521;
}

.dark-theme .message__container{
    background-color: var(--container-color);
}

.dark-theme .message__input{
    background-color: var(--title-color);
    color: black;
}

.dark-theme .message__button{
    background-color: var(--first-color);

    &:hover{
        background-color: var(--first-color-alt);
    }
}

.dark-theme::-webkit-scrollbar{
    background: var(--container-color);
    &-thumb{
        background-color: #fff;
    }
}